<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/moi.css') }}">
    <title>Загрузка новостей</title>
</head>
<body>
<div class="'contrainer p-2 text-dark rounded bg-light">
    <form method="post">
        <h3 class="text-center">Создать новость</h3>
        <h5> Тема новостей:</h5>
        <input type="Text" name="Tem" class="form-control" placeholder="Обязательно!"><br>
        <h5>Текст новости:</h5>
        <textarea name="Mes" id="Tem" class="form-control" placeholder="Обязательно!" rows="10"></textarea>
        <input type="submit" class="btn btn-info center mx-auto d-block m-3" valus="Создать новость">



